.link_card {
    display: flex;
    gap: 1.5rem;
    width: 500px;
    height: auto;
}

.og_data {
    margin-top: 10px;
    border-top: 1px solid #444;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & h2 {
        font-size: 1.2rem;
        margin: 0 0 5px 0;
    }

    & p {
        font-size: 1rem;
        margin: 0 0 10px 0;
    }

    & img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

    & a {
        color: #1e90ff;
        text-decoration: none;
        word-break: break-all;
    }
}