* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
background: -webkit-linear-gradient(90deg,#0f0f0f,#333333,#141414); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(90deg,#0f0f0f,#333333,#141414); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}