* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(24, 23, 23);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}